@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: black;
  @media (min-width: 768px) {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
  }

  @media (min-width: 1440px) {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slick-track {
  margin-left: 0;
}